a, abbr, acronym, address, applet, article, aside, audio, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

blockquote, q {
    quotes: none;
}

    blockquote:after, blockquote:before, q:after, q:before {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    font-size: 10px;
}

body {
    background: #fff;
    font-family: "Microsoft YaHei","Microsoft JhengHei",STHeiti,MingLiu;
    text-align: center;
    color: #fff;
    width: 100%;
}

.w {
    width: 100%;
}

body {
    padding-bottom: 50px;
}

.gray {
    background-color: #E6E6E6 !important;
}

.nav {
    width: 100%;
    height: 44px;
    background-color: #0AF;
    display: flex;
    overflow: hidden;
}

    .nav div {
        flex: 1;
    }

    .nav .left {
        flex: 0 1 44px;
        font-size: 12px;
        height: 44px;
        line-height: 44px;
        color: #fff;
        text-align: center;
    }

        .nav .left span {
            width: 0;
            vertical-align: middle;
            height: 0;
            font-size: 0;
            border-width: 11px;
            border-style: solid;
            border-color: transparent #fff transparent transparent;
        }

    .nav .middle {
        font-size: 14px;
        line-height: 44px;
    }

    .nav .right {
        flex: 0 1 44px;
        font-size: 40px;
        height: 44px;
        line-height: 40px;
        color: #fff;
        text-align: center;
        transform: rotate(45deg);
    }

.cardlistbox {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    background-color: #fff;
    border-bottom: 10px solid #E6E6E6;
}

    .cardlistbox .vip {
        width: 100%;
        font-size: 14px;
        height: 34px;
        line-height: 34px;
        color: #333;
    }

    .cardlistbox .cardlist {
        width: 100%;
        height: 75px;
        border-radius: 10px;
        box-shadow: 0 1px 8px #000;
        margin-bottom: 10px;
        overflow: hidden;
    }

        .cardlistbox .cardlist p:nth-child(1) {
            font-size: 14px;
            height: 30px;
            line-height: 30px;
            background-color: #0AF;
            color: #fff;
            font-family: MFLiHei_Noncommercial-Regular;
        }

        .cardlistbox .cardlist p:nth-child(2) {
            font-size: 16px;
            height: 45px;
            line-height: 45px;
            background-color: #F39800;
            color: #fff;
            font-family: MFLiHei_Noncommercial-Regular;
            text-align: left;
            text-indent: 40px;
        }

            .cardlistbox .cardlist p:nth-child(2) a {
                float: right;
                font-size: 14px;
                margin-right: 40px;
                text-indent: 0;
            }

    .cardlistbox .cardlistY {
        width: 100%;
        height: 75px;
        border-radius: 10px;
        box-shadow: 0 1px 8px #000;
        margin-bottom: 10px;
        overflow: hidden;
        position: relative;
    }

        .cardlistbox .cardlistY p:nth-child(1) {
            font-size: 14px;
            height: 30px;
            line-height: 30px;
            background-color: #0AF;
            color: #fff;
            font-family: MFLiHei_Noncommercial-Regular;
        }

        .cardlistbox .cardlistY p:nth-child(2) {
            font-size: 12px;
            height: 22px;
            line-height: 22px;
            background-color: #ccc;
            color: #fff;
            font-family: MFLiHei_Noncommercial-Regular;
            text-align: left;
            text-indent: 40px;
        }

        .cardlistbox .cardlistY p:nth-child(3) {
            font-size: 12px;
            height: 23px;
            line-height: 23px;
            background-color: #ccc;
            color: #fff;
            font-family: MFLiHei_Noncommercial-Regular;
            text-align: left;
            text-indent: 40px;
            position: relative;
        }

        .cardlistbox .cardlistY span {
            position: absolute;
            top: 40px;
            right: 20px;
            padding: 6px;
            font-size: 12px;
            background-color: #fff;
            color: #F39800;
            border-radius: 5px;
            box-shadow: 0 1px 8px #aaa;
        }

.cardlistboxY {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    background-color: #fff;
    border-bottom: 10px solid #E6E6E6;
}

    .cardlistboxY .vip {
        width: 100%;
        font-size: 14px;
        height: 34px;
        line-height: 34px;
        color: #333;
    }

    .cardlistboxY .cardlist {
        width: 100%;
        height: 75px;
        border-radius: 10px;
        box-shadow: 0 1px 8px #000;
        margin-bottom: 10px;
        overflow: hidden;
        position: relative;
    }

        .cardlistboxY .cardlist p:nth-child(1) {
            font-size: 14px;
            height: 30px;
            line-height: 30px;
            background-color: #0AF;
            color: #fff;
            font-family: MFLiHei_Noncommercial-Regular;
        }

        .cardlistboxY .cardlist p:nth-child(2) {
            font-size: 16px;
            height: 45px;
            line-height: 45px;
            background-color: #ccc;
            color: #fff;
            font-family: MFLiHei_Noncommercial-Regular;
            text-align: left;
            text-indent: 40px;
        }

            .cardlistboxY .cardlist p:nth-child(2) a {
                position: absolute;
                top: 40px;
                right: 20px;
                width: 60px;
                height: 24px;
                line-height: 24px;
                font-size: 12px;
                text-align: center;
                text-indent: 0;
                background-color: #fff;
                color: #F39800;
                box-sizing: border-box;
                border-radius: 5px;
                box-shadow: 0 1px 8px #aaa;
            }

    .cardlistboxY .cardlistY {
        width: 100%;
        height: 75px;
        border-radius: 10px;
        box-shadow: 0 1px 8px #000;
        margin-bottom: 10px;
        overflow: hidden;
        position: relative;
    }

        .cardlistboxY .cardlistY p:nth-child(1) {
            font-size: 14px;
            height: 30px;
            line-height: 30px;
            background-color: #0AF;
            color: #fff;
            font-family: MFLiHei_Noncommercial-Regular;
        }

        .cardlistboxY .cardlistY p:nth-child(2) a{
            font-size: 12px;
            height: 22px;
            line-height: 22px;
            background-color: #ccc;
            color: #fff;
            font-family: MFLiHei_Noncommercial-Regular;
            text-align: left;
            text-indent: 40px;
        }

        .cardlistboxY .cardlistY p:nth-child(3) {
            font-size: 12px;
            height: 23px;
            line-height: 23px;
            background-color: #ccc;
            color: #fff;
            font-family: MFLiHei_Noncommercial-Regular;
            text-align: left;
            text-indent: 40px;
            position: relative;
        }

        .cardlistboxY .cardlistY a {
            position: absolute;
            top: 40px;
            right: 20px;
            padding: 6px;
            font-size: 12px;
            background-color: #fff;
            color: #F39800;
            border-radius: 5px;
            box-shadow: 0 1px 8px #aaa;
        }

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #E6E6E6;
    display: flex;
}

    .footer div {
        flex: 1;
        padding: 5px 0;
    }

        .footer div img {
            width: 26px;
            height: 26px;
        }

        .footer div p {
            color: #333;
            margin-top: 3px;
        }

        .footer div .col_blue {
            color: #0AF;
        }

.deal_info {
    color: #666;
    text-align: left;
    text-indent: 10px;
}

    .deal_info div {
        width: 100%;
        height: 44px;
        line-height: 44px;
        font-size: 12px;
        border-bottom: 1px solid #E6E6E6;
        position: relative;
    }

        .deal_info div span {
            position: absolute;
            right: 10px;
            top: 10px;
            width: 60px;
            height: 24px;
            line-height: 24px;
            text-indent: 0;
            text-align: center;
            background-color: #0AF;
            color: #fff;
            border-radius: 6px;
        }

.photo {
    width: 100%;
    box-sizing: border-box;
    padding: 20px 0 20px 10px;
}

    .photo div {
        position: relative;
        width: 100px;
        height: 100px;
        line-height: 100px;
        color: #666;
        font-size: 14px;
        background: #E6E6E6;
    }

        .photo div input {
            position: absolute;
            width: 100px;
            height: 100px;
            left: 0;
            opacity: 0;
        }

.enter {
    width: 90%;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    border-radius: 6px;
    margin: auto;
    box-sizing: border-box;
    background-color: #0AF;
    color: #fff;
    margin-bottom: 3rem;
}
