@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="../page/login/index.css">
</head>

<body>
    <div class="w">
        <p class="share_txt">分享注册</p>
        <img class="bg" src="../images/bg.png" alt="" />
        <img class="res_logo" src="../images/logo2.png" alt="" />
        <div class="res_list_box">
            <form id="regFrm" name="regFrm" method="post">
                <div class="phone">
                    <img class="phone_pic" src="../images/phone.png">
                    <input id="mobile" placeholder="请输入手机号码" type="number" name="mobile">
                </div>
                <div class="phone proving">
                    <img class="psd_pic" src="../images/psd.png">
                    <input id="smsValidateCode" placeholder="请输入验证码" type="number" name="smsValidateCode">
                    <input type="hidden" name="hidValidateCode" id="hidValidateCode" value="" />
                    <input class="get_prv" type="button" id="yzm" value="获取验证码" />
                </div>
                <div class="phone">
                    <img class="psd_pic" src="../images/psd.png">
                    <input placeholder="请输入密码" type="password" name="UserPass" id="UserPass">
                </div>
                <div class="phone">
                    <img class="psd_pic" src="../images/psd.png">
                    <input placeholder="再次输入密码" type="password" name="SurePass" id="SurePass">
                </div>
                <div class="phone">
                    <img class="share_pic" src="../images/share_phone.png">
                    <input class="share_num" placeholder="请输入邀请人号码" type="number" name="ReferMobile" id="ReferMobile" value="@ViewBag.ReferMobile">
                </div>
            </form>
            <div class="login loiginOn">确&nbsp;&nbsp;定</div>
        </div>
        <div class="btm">
            <div><a href="http://jq7we.viz.wuxiscwj.cn/GBn7f4" style="display: block;width: 100%;height: 100%;"><img src="../images/ios.png"></a></div>
            <div></div>
            <div><a href="http://jq7we.viz.wuxiscwj.cn/GBn7f4" style="display: block;width: 100%;height: 100%;"><img src="../images/and.png"></a></div>
        </div>
    </div>
    <script type="text/javascript" src="../_mm/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../_mm/jquery.form.js"></script>
    <script type="text/javascript">
        var pPattern = /^.*(?=.{6,})(?=.*\d)(?=.*[A-Z])(?=.*[a-z]).*$/;
        $('.loiginOn').on('click', function () {
            var mobile = $('#mobile').val();
            if (mobile == "") {
                alert("手机号不能为空");
                return;
            }
            var smsValidateCode = $('#smsValidateCode').val();
            var hidValidateCode = $('#hidValidateCode').val();
            if (smsValidateCode == "") {
                alert("验证码不能为空");
                return;
            }
            if (smsValidateCode != hidValidateCode) {
                alert("验证码不正确");
                return;
            }
            var UserPass = $('#UserPass').val();
            var SurePass = $('#SurePass').val();
            if (UserPass == "") {
                alert("密码不能为空");
                return;
            }
            if (!pPattern.test(UserPass)) {
                alert("密码最少6位，包括至少1个大写字母，1个小写字母，1个数字");
                return;
            }

            if (UserPass != SurePass) {
                alert("两次密码不一致");
                return;
            }
            var ReferMobile = $('#ReferMobile').val();
            if (ReferMobile == "") {
                alert("邀请人手机号不能为空");
                return;
            }

            $("#regFrm").ajaxSubmit({
                url: '/App/register',
                dataType: "json",
                success: function (data) {
                    if (data.code == 0) {
                        alert("注册成功，请下载App")
                        //location.href = "/Login/LoginOn";
                    } else {
                        alert(data.msg);
                    }
                },
                beforeSubmit: function () {
                    
                }
            });
        });

        var sleep = 60,interval = null;
        window.onload = function () {
            var btn = document.getElementById('yzm');
            btn.onclick = function () {
                var phone = $('#mobile').val();
                if (phone == "") {
                    alert("手机号不能为空");
                    return;
                }
                $.get('/app/SendSmsCode?mobile=' + phone + '&date=' + new Date(), function (data) {
                    if (data.code == 0) {
                        $('#hidValidateCode').val(data.data)                        
                    } else {
                        alert(data.msg);
                    }
                });
                if (!interval) {
                    this.style.backgroundColor = 'rgb(243, 182, 182)';
                    this.disabled = "disabled";
                    this.style.cursor = "wait";
                    this.value = "重新发送 (" + sleep-- + ")";
                    interval = setInterval(function () {
                        if (sleep == 0) {
                            if (!!interval) {
                                clearInterval(interval);
                                interval = null;
                                sleep = 60;
                                btn.style.cursor = "pointer";
                                btn.removeAttribute('disabled');
                                btn.value = "获取验证码";
                                btn.style.backgroundColor = '';
                            }
                            return false;
                        }
                        btn.value = "重新发送 (" + sleep-- + ")";
                    }, 1000);
                }
            }
        }
    </script>
</body>

</html>