a, abbr, acronym, address, applet, article, aside, audio, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

blockquote, q {
    quotes: none;
}

    blockquote:after, blockquote:before, q:after, q:before {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    font-size: 10px;
}

body {
    background: #fff;
    font-family: "Microsoft YaHei","Microsoft JhengHei",STHeiti,MingLiu;
    text-align: center;
    color: #fff;
    width: 100%;
}

.w {
    width: 100%;
}

body {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.share_txt {
    position: absolute;
    top: 35px;
    left: 0;
    right: 0;
    font-size: 16px;
    color: #fff;
    margin: auto;
}

.share_X {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 60px;
    color: #fff;
    transform: rotate(45deg);
    margin: auto;
}

.bg {
    position: fixed;
    z-index: -1;
    width: 100%;
    top: 0;
    left: 0;
}

.logo {
    position: absolute;
    width: 140px;
    height: 140px;
    top: 90px;
    left: 0;
    right: 0;
    margin: auto;
}

.res_logo {
    position: absolute;
    width: 260px;
    height: 100px;
    top: 70px;
    left: 0;
    right: 0;
    margin: auto;
}

.list_box {
    position: absolute;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    padding: 20px;
    margin-top: 240px;
}

    .list_box div {
        width: 100%;
        height: 40px;
        line-height: 40px;
        margin-bottom: 20px;
        border-radius: 6px;
    }

    .list_box .phone {
        background-color: rgba(255,255,255,.4);
        text-align: left;
    }

        .list_box .phone .phone_pic {
            width: 17px;
            height: 25px;
            margin-left: 9px;
            margin-top: 7px;
            vertical-align: top;
        }

        .list_box .phone .psd_pic {
            width: 20px;
            height: 24px;
            margin-left: 9px;
            margin-top: 7px;
            vertical-align: top;
        }

        .list_box .phone input {
            height: 38px;
            border: none;
            outline: 0;
            background-color: rgba(0,0,0,0);
            text-indent: 8px;
        }

            .list_box .phone input::placeholder {
                color: rgba(255,255,255,.8);
            }

    .list_box .login {
        background-color: #fff;
        color: #0AF;
        font-size: 16px;
        position: relative;
        margin-bottom: 0;
    }

        .list_box .login .resetpsd {
            position: absolute;
            top: 40px;
            text-align: left;
            color: #fff;
            font-size: 14px;
        }

.res_list_box {
    position: absolute;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    padding: 20px;
    margin-top: 170px;
}

    .res_list_box div {
        width: 100%;
        height: 40px;
        line-height: 40px;
        margin-bottom: 20px;
        border-radius: 6px;
    }

    .res_list_box .phone {
        background-color: rgba(255,255,255,.4);
        text-align: left;
    }

        .res_list_box .phone .phone_pic {
            width: 17px;
            height: 25px;
            margin-left: 9px;
            margin-top: 7px;
            vertical-align: top;
        }

        .res_list_box .phone .share_num::placeholder {
            color: #F39800;
        }

        .res_list_box .phone .psd_pic {
            width: 20px;
            height: 24px;
            margin-left: 9px;
            margin-top: 7px;
            vertical-align: top;
        }

        .res_list_box .phone .share_pic {
            width: 20px;
            height: 20px;
            margin-left: 9px;
            margin-top: 7px;
            vertical-align: top;
        }

        .res_list_box .phone input {
            height: 38px;
            border: none;
            outline: 0;
            background-color: rgba(0,0,0,0);
            text-indent: 8px;
        }

            .res_list_box .phone input::placeholder {
                color: rgba(255,255,255,.8);
            }

    .res_list_box .proving {
        width: 100%px;
        position: relative;
        display: flex;
    }

        .res_list_box .proving .psd_pic {
            flex: 0 1 20px;
        }

        .res_list_box .proving input {
            width: 100px;
            flex: 1;
        }

        .res_list_box .proving .get_prv {
            flex: 1;
            width: 110px;
            height: 40px;
            line-height: 40px;
            right: 0;
            background-color: #fff;
            color: #0AF;
            font-size: 16px;
            text-align: center;
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
        }

        .res_list_box .proving .verify_pic {
            flex: 1;
        }

    .res_list_box .login {
        background-color: #fff;
        color: #0AF;
        font-size: 16px;
        position: relative;
        margin-bottom: 0;
    }

        .res_list_box .login .resetpsd {
            position: absolute;
            top: 40px;
            text-align: left;
            color: #fff;
            font-size: 14px;
        }

.btm {
    position: fixed;
    width: 100%;
    height: 46px;
    line-height: 46px;
    font-size: 16px;
    bottom: 0;
    left: 0;
    display: flex;
    background-color: rgba(0,0,0,.4);
}

    .btm div {
        flex: 1;
    }

        .btm div img {
            width: 25px;
            height: 29px;
            vertical-align: middle;
        }

        .btm div:nth-child(1) {
            background-color: rgba(255,255,255,.4);
        }

        .btm div:nth-child(3) {
            background-color: rgba(255,255,255,.4);
        }

.list_box .back_wangji {
    width: 50%;
    text-align: left;
    float: left;
    font-size: 14px;
      color: #fff;
}

.list_box a .back_zhuce {
    float: right;
    width: 50%;
    text-align: right;
    box-sizing: border-box;
    padding-right: 4px;
    font-size: 14px;
    color: #fff;
}
